* {
  margin: 0;
}

.nav-fixed, .nav-extended {
  background-color: #9a3e42;
}

.btn
{
  color: white;
  background-color: #9a3e42;
  opacity: 0.8;
}

.btn:hover
{
  color: #9a3e42;
  background-color: lightgrey;
  opacity: 0.8;
}

.team-info h2, h3, p {
  margin: 8%;
  text-align: center;
}

.badges img {
  border-radius: 50%;
  width: 25%;
  margin-left: 5%;
}

.team-info h2 {
  font-size: 35px;
}

.team-info h3 {
  font-size: 27px;
}

img {
  width: 100%;
}

#pet-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

#pet-container article {
  display: inline-block;
  width: 40%;
  height: 35vh;
}
